 #main-window{
    --window-control-wdt:   0px !important;                        /* < ^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
    --buttonbox-left-hgt:   0px !important;                        /* <                             */
    --buttonbox-right-hgt:  0px !important;                        /* <         !DUPLICATE!         */
    --nav-rgt-btnbx-margin: 0px !important;                        /* <                             */
    --nav-rgt-btnbx-button: 0px !important;                        /* <   This code block must be   */
    --nav-lft-btnbx-margin: 0px !important;                        /* <      identical to the       */
    --nav-lft-btnbx-button: 0px !important;                        /* <      code block above       */
    .titlebar-buttonbox-container {display: none !important;}      /* <                             */
  }

:root[lwtheme]:not([lwtheme-image-y-align]) body, :root[lwtheme][lwtheme-image-y-align] #navigator-toolbox {
  background-image: var(--lwt-additional-images);
  background-repeat: var(--lwt-background-tiling);
  background-position: var(--lwt-background-alignment);
  background-color: rgba(0,0,0,0.2) !important;
}
